In [ ]:
"""
Purpose: To see if can look at some of the
inhibitory cells and their predecessors



"""

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from os import sys
sys.path.append("/meshAfterParty/meshAfterParty/")

In [3]:
from annotationframeworkclient import FrameworkClient
from IPython import html, display
from os import sys
sys.path.append("/meshAfterParty")
import pandas as pd
import numpy as np

/usr/local/lib/python3.6/dist-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [4]:
"""
https://minniev1.microns-daf.com/annotation/views/aligned_volume/minnie65_phase3/table/allen_v1_column_proofreading
https://minniev1.microns-daf.com/annotation/views/aligned_volume/minnie65_phase3/table/allen_v1_column_types_v2
minnie65_phase3 allen_soma_coarse_cell_class_model_v2 #has the cell type classifications
allen_soma_coarse_cell_class_model_v1 # cell type classifications
"""

'\nhttps://minniev1.microns-daf.com/annotation/views/aligned_volume/minnie65_phase3/table/allen_v1_column_proofreading\nhttps://minniev1.microns-daf.com/annotation/views/aligned_volume/minnie65_phase3/table/allen_v1_column_types_v2\nminnie65_phase3 allen_soma_coarse_cell_class_model_v2 #has the cell type classifications\nallen_soma_coarse_cell_class_model_v1 # cell type classifications\n'

# Looking at the table

In [5]:
import allen_utils as alu

INFO - 2021-06-02 17:51:55,315 - settings - Setting database.host to at-database.ad.bcm.edu
INFO - 2021-06-02 17:51:55,317 - settings - Setting database.user to celiib
INFO - 2021-06-02 17:51:55,318 - settings - Setting database.password to newceliipass
INFO - 2021-06-02 17:51:55,335 - settings - Setting stores to {'minnie65': {'protocol': 'file', 'location': '/mnt/dj-stor01/platinum/minnie65', 'stage': '/mnt/dj-stor01/platinum/minnie65'}, 'meshes': {'protocol': 'file', 'location': '/mnt/dj-stor01/platinum/minnie65/02/meshes', 'stage': '/mnt/dj-stor01/platinum/minnie65/02/meshes'}, 'decimated_meshes': {'protocol': 'file', 'location': '/mnt/dj-stor01/platinum/minnie65/02/decimated_meshes', 'stage': '/mnt/dj-stor01/platinum/minnie65/02/decimated_meshes'}, 'skeletons': {'protocol': 'file', 'location': '/mnt/dj-stor01/platinum/minnie65/02/skeletons'}}
INFO - 2021-06-02 17:51:55,336 - settings - Setting enable_python_native_blobs to True
INFO - 2021-06-02 17:51:55,346 - connection - Connected celiib@at-database.ad.bcm.edu:3306

Connecting celiib@at-database.ad.bcm.edu:3306

INFO - 2021-06-02 17:51:55,905 - settings - Setting enable_python_native_blobs to True
INFO - 2021-06-02 17:51:55,908 - settings - Setting database.host to at-database.ad.bcm.edu
INFO - 2021-06-02 17:51:55,910 - settings - Setting database.user to celiib
INFO - 2021-06-02 17:51:55,911 - settings - Setting database.password to newceliipass
INFO - 2021-06-02 17:51:55,912 - settings - Setting database.host to at-database.ad.bcm.edu
INFO - 2021-06-02 17:51:55,913 - settings - Setting database.user to celiib
INFO - 2021-06-02 17:51:55,914 - settings - Setting database.password to newceliipass
INFO - 2021-06-02 17:51:55,915 - settings - Setting enable_python_native_blobs to True
INFO - 2021-06-02 17:51:56,535 - settings - Setting enable_python_native_blobs to True

In [7]:
import system_utils as su
aug_nuc_df = su.load_object("/meshAfterParty/meshAfterParty/nuc_detection_minnie65_phase3_vAug1")
aug_nuc_df

,cleft_segid,size,centroid_x,centroid_y,centroid_z,bbox_bx,bbox_by,bbox_bz,bbox_ex,bbox_ey,bbox_ez,flat_nuc_id,svid,root_id
0,373879,1397980,14301,14986,19593,14239,14914,19496,14365,15054,19683,373879,96218056992431305,864691135233113689
1,601340,2600940,21250,17447,20946,20996,17383,20850,21539,17532,21052,601340,0,0
2,201858,572228,9178,13350,26267,9061,13297,26185,9283,13384,26359,201858,84955554103121097,864691135373893678
3,600774,825133,21195,17257,19442,21107,17181,19303,21296,17345,19614,600774,0,0
4,408486,632850,15314,15276,25074,15276,15230,24976,15351,15334,25164,408486,98470544672326786,864691135194387242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142612,598753,4834169,20786,16826,20733,20610,16747,20543,21005,16903,20947,598753,110506897924419051,864691134862564098
142613,111162,4883214,6584,8150,26721,6458,7978,26588,6729,8329,26867,111162,79244553336439324,864691134912248365
142614,795176,5055696,25717,13146,25091,25532,13053,24988,25946,13230,25264,795176,0,0
142615,528334,5472349,18663,12718,15267,18467,12442,14937,18833,12884,15469,528334,105853763977767516,864691134988413818
142616,267033,6554457,10912,12913,20768,10801,12822,20566,11029,13002,20935,267033,88754572197489327,864691135385333589

In [8]:
alu.configure_client(107)

# Allen V1 Column Proofreading

In [9]:
proofreading_df = alu.client.materialize.query_table('allen_v1_column_proofreading')
clean_proofread = proofreading_df[proofreading_df["cell_type"] == "clean"]
len(clean_proofread)

88

In [10]:
# get the nucelus table
nuc_df = alu.client.materialize.query_table(alu.nucleus_table)
len(nuc_df)

144120

In [11]:
proof_with_nucl = pd.merge(clean_proofread,nuc_df,left_on="pt_root_id",right_on="pt_root_id")
len(proof_with_nucl)

88

In [12]:
proof_with_nucl

,id_x,valid_x,classification_system,cell_type,pt_supervoxel_id_x,pt_root_id,pt_position_x,id_y,valid_y,pt_supervoxel_id_y,volume,pt_position_y
0,6,t,allen_column_proofreading,clean,88468836747612860,864691135491415647,"[172512, 175280, 21964]",262898,t,88468836747612860,230.092308,"[172512, 175280, 21964]"
1,21,t,allen_column_proofreading,clean,88607512718239945,864691136443917699,"[173360, 159856, 22024]",260718,t,88607512718239945,206.650245,"[173360, 159856, 22024]"
2,1373,t,allen_column_proofreading,clean,88955645453268928,864691135269913253,"[175792, 131824, 21078]",258234,t,88955645453268928,384.219709,"[175792, 131824, 21078]"
3,1387,t,allen_column_proofreading,clean,88742890087722824,864691135403927534,"[174448, 119904, 22272]",256622,t,88742890087722824,295.419249,"[174448, 119904, 22272]"
4,52,t,allen_column_proofreading,clean,89589376669051726,864691135428608048,"[180752, 135200, 22612]",294649,t,89589376669051726,353.146470,"[180752, 135200, 22612]"
...,...,...,...,...,...,...,...,...,...,...,...,...
83,1392,t,allen_column_proofreading,clean,88050472505715355,864691136361695970,"[169008, 203792, 21087]",267006,t,88050472505715355,407.781212,"[169008, 203792, 21087]"
84,1393,t,allen_column_proofreading,clean,88690663285159822,864691135113360025,"[174064, 254832, 22081]",273805,t,88690663285159822,319.236342,"[174064, 254832, 22081]"
85,1394,t,allen_column_proofreading,clean,90440673345651363,864691135526220635,"[186656, 186400, 21142]",301101,t,90440673345651363,260.594893,"[186656, 186400, 21142]"
86,1395,t,allen_column_proofreading,clean,90940538752561325,864691136123919654,"[190288, 240432, 20878]",306794,t,90940538752561325,404.010435,"[190288, 240432, 20878]"
87,1396,t,allen_column_proofreading,clean,90588695232730561,864691135446864980,"[187824, 240512, 22174]",306988,t,90588695232730561,360.815985,"[187824, 240512, 22174]"

In [13]:
manual_labels_df = alu.get_table(alu.manual_cell_type_table)
manual_labels_df["cell_type"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: 'pyarrow.deserialize' is deprecated as of 2.0.0 and will be removed in a future version. Use pickle or the pyarrow IPC functionality instead.
  """Entry point for launching an IPython kernel.

0       Unsure
1       Unsure
2       Unsure
3       Unsure
4       Unsure
         ...
2199    Unsure
2200    Unsure
2201    Unsure
2202    Unsure
2203    Unsure
Name: cell_type, Length: 2204, dtype: object

In [14]:
proof_with_nucl_and_labels = pd.merge(proof_with_nucl,manual_labels_df,left_on="pt_root_id",
                                     right_on="pt_root_id")
cell_type_df = proof_with_nucl_and_labels[["cell_type_x","pt_root_id","cell_type_y","id_y"]]

   cell_type_x          pt_root_id cell_type_y    id_y
0        clean  864691135491415647         BPC  262898
1        clean  864691136443917699         BPC  260718
2        clean  864691135269913253          BC  258234
3        clean  864691135403927534          BC  256622
4        clean  864691135428608048          BC  294649
..         ...                 ...         ...     ...
83       clean  864691136361695970          MC  267006
84       clean  864691135113360025          BC  273805
85       clean  864691135526220635          BC  301101
86       clean  864691136123919654          BC  306794
87       clean  864691135446864980          BC  306988

[88 rows x 4 columns]

In [17]:
inhibitory_cells = cell_type_df[cell_type_df["cell_type_y"].isin(alu.inhibitory_labels)]
inhibitory_cells

   cell_type_x          pt_root_id cell_type_y    id_y
0        clean  864691135491415647         BPC  262898
1        clean  864691136443917699         BPC  260718
2        clean  864691135269913253          BC  258234
3        clean  864691135403927534          BC  256622
4        clean  864691135428608048          BC  294649
..         ...                 ...         ...     ...
83       clean  864691136361695970          MC  267006
84       clean  864691135113360025          BC  273805
85       clean  864691135526220635          BC  301101
86       clean  864691136123919654          BC  306794
87       clean  864691135446864980          BC  306988

[82 rows x 4 columns]

In [24]:
import pandas_utils as pu
aug_nuc_renamed_df = pu.rename_columns(aug_nuc_df,dict(root_id="old_segment_id"))
inhibitory_map = pd.merge(inhibitory_cells,aug_nuc_renamed_df[["flat_nuc_id","old_segment_id"]],left_on="id_y",right_on="flat_nuc_id")
inhibitory_map

,cell_type_x,pt_root_id,cell_type_y,id_y,flat_nuc_id,old_segment_id
0,clean,864691135491415647,BPC,262898,262898,864691136296715803
1,clean,864691136443917699,BPC,260718,260718,864691135776666208
2,clean,864691135269913253,BC,258234,258234,864691135918312112
3,clean,864691135403927534,BC,256622,256622,864691135303140007
4,clean,864691135428608048,BC,294649,294649,864691135382454234
...,...,...,...,...,...,...
77,clean,864691136361695970,MC,267006,267006,864691135081692151
78,clean,864691135113360025,BC,273805,273805,864691135497665043
79,clean,864691135526220635,BC,301101,301101,864691135012368374
80,clean,864691136123919654,BC,306794,306794,864691135389790706
81,clean,864691135446864980,BC,306988,306988,864691135771594235

In [25]:
inhibitory_map

,cell_type_x,pt_root_id,cell_type_y,id_y,flat_nuc_id,old_segment_id
0,clean,864691135491415647,BPC,262898,262898,864691136296715803
1,clean,864691136443917699,BPC,260718,260718,864691135776666208
2,clean,864691135269913253,BC,258234,258234,864691135918312112
3,clean,864691135403927534,BC,256622,256622,864691135303140007
4,clean,864691135428608048,BC,294649,294649,864691135382454234
...,...,...,...,...,...,...
77,clean,864691136361695970,MC,267006,267006,864691135081692151
78,clean,864691135113360025,BC,273805,273805,864691135497665043
79,clean,864691135526220635,BC,301101,301101,864691135012368374
80,clean,864691136123919654,BC,306794,306794,864691135389790706
81,clean,864691135446864980,BC,306988,306988,864691135771594235

In [27]:
import datajoint_utils as du
minnie,_ = du.configure_minnie_vm()

INFO - 2021-06-02 19:26:36,499 - settings - Setting database.host to at-database.ad.bcm.edu
INFO - 2021-06-02 19:26:36,501 - settings - Setting database.user to celiib
INFO - 2021-06-02 19:26:36,501 - settings - Setting database.password to newceliipass
INFO - 2021-06-02 19:26:36,504 - settings - Setting enable_python_native_blobs to True
INFO - 2021-06-02 19:26:37,180 - settings - Setting enable_python_native_blobs to True

# Notes on Ground Truth

In [ ]:
"""
For Martinotti Cells:
864691135467660940 had no errors

864691135212863360 has errors
"""

In [ ]:
import allen_utils as alu

In [ ]:
alu.segment_id_to_pre_post_syn_neuroglancer(864691135212863360,
                                           output_type="server")

In [ ]:
import proofreading_utils as pru
pru.ipython_html_object_to_link(Out[13])